.button{
    -fx-border-color: gray;
    -fx-border-radius: 10px;
    -fx-background-color: transparent
}
.button:hover{
    -fx-border-color: white;
    -fx-border-radius:0px;
    -fx-background-color: black;
}
.button:pressed{
    -fx-border-color: white;
    -fx-border-radius: 0px;
    -fx-background-color: white;
}
#borderpane {
    -fx-start-margin:0;
    -fx-padding:0;
    -fx-font-family: sans-serif;
    -fx-background-color: linear-gradient(#141e30, #243b55);
}

.anchorpane {
    -fx-background-color: linear-gradient(#141e30, #243b55);
}

.input{
    -fx-border-radius: 5px;
    -fx-border-color: gray;
    -fx-background-color: none;
    -fx-text-fill: white;
}
.title{
    -fx-font-family: "Dubai Light";
    -fx-font-size: 20px;
    -fx-background-color: transparent;
}

.list-view,
.list-view .list-cell{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: white;
}

.navbar{
    -fx-border-color: transparent transparent black transparent;
    -fx-border-width: 2px;
}

.navbtn{
    -fx-border-color: transparent;
    -fx-background-color: transparent;

}
.navbtn:hover{
    -fx-border-width: 2px;
    -fx-border-radius: 0px;
    -fx-background-color: grey;

}
.navpfp{
    -fx-border-color: transparent;
    -fx-border-radius: 0px;
    -fx-background-color: black;
}
.navpfp:hover{
    -fx-opacity: 0.5;
}